* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Azeret Mono, sans-serif;
}
header {
  max-width: 1440px;
  margin: auto;
}
.banner {
  background-image: url(assets/Hero-bg.png);
  max-width: 1440px;
  height: 652px;
}
.content {
  text-align: center;
}
.content .childimg {
  margin-top: 26px;
}
.content h1 {
  margin-top: 32px;
  font-size: 48px;
  font-weight: 800;
  color: black;
}
.content p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}
.content button {
  margin-top: 32px;
  width: 244px;
  height: 65px;
  color: #fff;
  background-color: #0d1321;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
.whydev {
  text-align: center;
  margin: auto;
  max-width: 946px;
}
.whydev h1 {
  margin-top: 154px;
  font-size: 32px;
  font-weight: 800;
  color: black;
}
.whydev p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-bottom: 96px;
}
.heroone {
  max-width: 946px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.oneleft h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.oneleft p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.oneleft button {
  width: 171px;
  height: 47px;
  border: 1px solid rgb(13, 19, 33);
  background-color: #fff;
  margin-top: 32px;
}
.oneleft a {
  color: rgb(13, 19, 33);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.onerightimg {
  background-image: url(assets/Layer_1.png);
  width: 259.56px;
  height: 217.01px;
}
.herocenrerone {
  background-image: url(assets/Group\ 3.png);
  width: 480px;
  height: 240px;
  background-repeat: no-repeat;
  display: inline;
}
.herocenrertwo h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.herocenrertwo p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.herocenrertwo button {
  width: 171px;
  height: 47px;
  border: 1px solid rgb(13, 19, 33);
  background-color: #fff;
  margin-top: 32px;
}
.herocenrertwo a {
  color: rgb(13, 19, 33);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.herocenterfast {
  margin: auto;
  max-width: 946px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 128px;
}
.herotwo {
  max-width: 946px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.herotwo button {
  width: 171px;
  height: 47px;
  border: 1px solid rgb(13, 19, 33);
  background-color: #fff;
  margin-top: 32px;
}
.herotwo a {
  color: rgb(13, 19, 33);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.herotwo h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.herotwo p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.inspiration {
  text-align: center;
}
.inspiration h1 {
  margin-top: 180px;
  font-size: 32px;
  font-weight: 800;
}
.inspiration p {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.border-section {
  max-width: 1140px;
  height: 614px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}
.youtube iframe {
  border-radius: 16px;
}
.tr {
  text-align: center;
}
.next-target h1 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 151px;
}
.next-target p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
